{% extends 'base.html' %}
{% load static %}


{% block body_profile %}
    {% include 'messages.html' %}
    <div class="container infinite-container">
        {% include 'posts/post_ajax.html' %}
    </div>
    {% if posts.has_next %}
        <a class="infinite-more-link" href="?page={{ posts.next_page_number }}"></a>
    {% endif %}
    <div style="display:flex;flex-direction:row;justify-content:center">
        <div class="loading" style="display: none;">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_profile %}
