.noti__avatar {
    height: 30px;
    width: 30px;
    background-size: cover;
    border-radius: 50%;
}

.noti__detail {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 600px) {
    .buttons {
        display: flex !important;
        flex-direction: column !important;
    }

    .buttons>a {
        margin: 3px !important;
    }
}