.avatar {
    height: 200px;
    width: 200px;
    background-size: cover;
    margin: 20px 10px;
    border-radius: 50%;
}

.overview {
    color: rgba(255, 255, 255, 0.8);
    width: 80%;
}

.row__1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row__2,
.row__3 {
    display: flex;
}

.row__2 {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
}

.row__2>a {
    color: rgba(255, 255, 255, 0.8) !important;
    cursor: pointer;
}

.row__3 {
    flex-direction: column;
}

#model1,
#model2 {
    border-radius: 30px !important;
    width: 500px !important;
}

#tabs-swipe-demo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: transparent !important;
}

.indicator {
    background-color: #26a69a !important;
}

#tabs-swipe-demo>li a {
    color: rgba(255, 255, 255, 0.8);
}

.tab .active {
    color: #26a69a !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.divider {
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    margin: 2px 0px;
}

.fol__header {
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid black;
    margin-bottom: 10px;
}

.fol__detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px;
}

.fol__detail a {
    color: black;
}

.fol__avatars {
    height: 30px;
    width: 30px;
    background-size: cover;
    border-radius: 50%;
}

.fol_username {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500px;
}

@media (max-width: 600px) {
    .avatar {
        height: 80px !important;
        width: 80px !important;
        background-size: cover !important;
        margin: 20px 10px !important;
        border-radius: 50% !important;
    }

    .row__1 {
        display: flex !important;
        flex-direction: column !important;
    }

    .row__1 h4 {
        font-size: 24px !important;
    }

    .row__2 p {
        padding: 0px 5px !important;
    }

    .row__2>a {
        padding: 0px 5px !important;
    }

    .row__3 .bio {
        font-size: 13px !important;
    }

    #model1,
    #model2 {
        border-radius: 2px !important;
        width: 200px !important;
    }

    .fol_username {
        padding-left: 5px !important;
        font-size: 16px !important;
        width: 90px !important;
        overflow-wrap: normal !important;
    }

    .fol_buttons {
        font-size: 10px !important;
    }
}