{% extends 'base.html' %}
{% load static %}
{% block head_css_site %}
    <link rel="stylesheet" href="{% static 'css/chat/friends.css' %}">
{% endblock head_css_site %}

{% block body_profile %}

    <div class="container">
        <div class="row" style="border-bottom: 1px solid rgba(255, 255, 255, 0.2);">
            <h4 style="color:white">Chat</h4>
        </div>
        {% for friend in friends %}
            <div class="row" style="display:flex;justify-content:center;margin-top:20px;">
                <div class="friend_div">
                    <div class="friend">
                        {% if friend.avatar %}
                            <div class="avatar" style="background-image: url({{friend.avatar.url}})">
                            </div>
                        {% else %}
                            <div class="avatar" style="background-image: url({% static 'images/user.png' %})">
                            </div>
                        {% endif %}
                        <div class="name" style="color:white;padding-left:10px;font-size:20px;">
                            {{friend.user.username}}
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'chat:chat-room' friend.user.username %}" class='btn'>Chat</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock body_profile %}