{% extends 'base.html' %}
{% load static %}
{% block head_css_site %}
    <link rel="stylesheet" href="{% static 'css/chat/friends.css' %}">
{% endblock head_css_site %}

{% block body_profile %}

    <div class="container">
        {% for friend in friends %}
            <div class="row" style="display:flex;justify-content:center;margin-top:20px;">
                <div style="display:flex;align-items:center;justify-content:space-between;width:70%;background:rgba(255,255,255,0.05);padding:10px;border-radius:10px;">
                    <div class="friend">
                        {% if friend.avatar %}
                            <div class="avatar" style="background-image: url({{friend.avatar.url}})">
                            </div>
                        {% else %}
                            <div class="avatar" style="background-image: url({% static 'images/user.png' %})">
                            </div>
                        {% endif %}
                        <div class="name" style="color:white;">
                            {{friend.user.username}}
                        </div>
                    </div>
                    <div>
                        <a href="{% url 'chat:chat-room' friend.user.username %}" class='btn'>Chat</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock body_profile %}