<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONNECT</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %} {% block head_css_site %} {% endblock head_css_site %} {% endblock css %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    {% if request.user.is_authenticated %}
        <ul id="dropdown1" class="dropdown-content">
        <li><a href="{% url 'profiles:profile-detail-view' user_profile.slug %}"><i class="fas fa-user-circle"></i>  Profile</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>  Logout</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <div class="nav__option_1">
                <a href="/" class="brand-logo">CONNECT</a>
            </div>
            <div class="nav__option_3">
                <ul class="right hide-on-med-and-down" style="display: flex; align-items:center;">
                    <li><a href="{% url 'home' %}"><i class="fas fa-home-alt"></i></a></li>
                    <li><a href="{% url 'profile_search' %}"><i class="fas fa-search"></i></a></li>
                    <li><a href=""><i class="fas fa-location-arrow"></i></a></li>
                    <li><a href="{% url 'notifications' %}"><i class="fas fa-bell"></i></a></li>
                    <!-- Dropdown Trigger -->
                    {% if user_profile.avatar %}
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><p class="avatar" style="background-image:url({{user_profile.avatar.url}}); height: 30px;width: 30px;background-size: cover;border-radius: 50%;"></p></a></li>
                    {% else %}
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="fas fa-user-circle"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% if posts %}
            {% for post in posts %}
                <div class="row post">
                    <div class="col m8 offset-m2">
                        <div class="card">
                            <div class="user-info">
                                {% if post.user.avatar %}
                                    <div class="user-info__avatar" style="background-image: url({{post.user.avatar.url}})">
                                    </div>
                                {% else %}
                                    <div class="user-info__avatar" style="background-image: url({% static 'images/user.png' %})">
                                    </div>
                                {% endif %}
                                <div class="user-info__detail">
                                    <p id="username">{{post.user.user.username}}</p>
                                    <p id="location">{{post.location}}</p>
                                    <p id="time">{{post.created}}</p>
                                </div>
                            </div>
                            <div class="card-image">
                                {% if post.image %}
                                    <img src="{{post.image.url}}" alt="">
                                {% endif %}
                            </div>
                            <div class="card-content">
                                <p>{{post.text_content}}</p>
                            </div>
                            <div class="card-action" style="font-size:20px;display:flex;justify-content:space-around;border-bottom: 1px solid rgba(255,255,255,0.1);">
                                <div class="like">
                                    {% if user in post.get_all_users_who_liked %}
                                        <a href="{% url 'posts:unlike' post.id %}" style="color:red !important"><i class="fas fa-heart"></i><span style="color:rgba(255, 255, 255, 0.6) !important; font-size:15px;">  {{post.likes.count}}</span></a>
                                    {% else %}
                                        <a href="{% url 'posts:like' post.id %}" style="color:red !important"><i class="far fa-heart"></i><span style="color:rgba(255, 255, 255, 0.6) !important; font-size:15px;">  {{post.likes.count}}</span></a>
                                    {% endif %}
                                </div>
                                <div class="save">
                                    {% if user in post.get_all_users_who_saved %}
                                        <a href="{% url 'posts:unsave' post.id %}"><i class="fas fa-bookmark"></i></a>
                                    {% else %}
                                        <a href="{% url 'posts:save' post.id %}"><i class="far fa-bookmark"></i></a>
                                    {% endif %}
                                </div>
                                <div class="share">
                                     <a href="" style="color:lightskyblue;"><i class="far fa-share"></i></a>
                                </div>
                            </div>
                            <div class="post-comments">
                                <ul class="collapsible">
                                    <li>
                                        <div class="collapsible-header heading" style="display:flex;justify-content:end;"><span>{{post.comments.all.count}} Comments</span></div>
                                        <div class="collapsible-body">
                                            {% for comment in post.comments.all %}
                                                <div class="comment">
                                                    {% if comment.user.avatar %}
                                                        <div class="comment-user" style="background-image:url({{comment.user.avatar.url}}); height: 30px;width: 30px;background-size: cover;border-radius: 50%;">
                                                        </div>
                                                    {% else %}
                                                        <div class="comment-user" style="background-image:url({% static 'images/user.png' %}); height: 30px;width: 30px;background-size: cover;border-radius: 50%;">
                                                        </div>
                                                    {% endif %}
                                                    <div class="comment-content">
                                                        <div style="padding:10px;color:rgba(255,255,255, 0.85);">
                                                            <p style="font-size:18px; color:#64ffda !important;">{{comment.user.user.username}}</p>
                                                            <p>{{comment.text}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <form method="post" class="comment-form" action="{% url 'posts:comment' post.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="post_id" value={{post.id}}>
                                    <input type="text" name="text" maxlength="255" id="id_text" style="color: white;" placeholder="comment....">
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Send
                                        <i class="material-icons right">send</i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% endif %}

    {% block body_profile %}
    {% endblock body_profile %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        $(".dropdown-trigger").dropdown();

        $(document).ready(function(){
            $('.tabs').tabs();
        });

        $(document).ready(function(){
            $('.modal').modal();
        });

        $('input').css('color', 'white')
        $('textarea').css('color', 'white')
        M.textareaAutoResize($('textarea'));

        $('.container').infiniteScroll({
            path: '.pagination__next',
            append: '.post',
            history: false,
        });

        $(document).ready(function(){
            $('.collapsible').collapsible();
        });

        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
            }
        });
        $(document).ready(function(){

            {% block domready %}
            {% endblock %}
        });
    </script>
</body>
</html>