{% extends 'base.html' %}

{% load static %}
{% block head_css_site %}
    <link rel="stylesheet" href="{% static 'css/profiles/edit.css' %}">
{% endblock head_css_site %}

{% block body_profile %}

<div class="row">
    <div class="edit-form col m6 s10 offset-s1 offset-m3" style="color:white;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button style="margin-top: 10px;" class="btn" type="submit">Update</button>
        </form>
    </div>
</div>

{% endblock body_profile %}