{% extends 'base.html' %}
{% load static %}
{% block head_css_site %}
    <link rel="stylesheet" href="{% static 'css/profiles/profile-detail.css' %}">
{% endblock head_css_site %}

{% block body_profile %}

<div class="container">
    <div class="profile__overview row">
        <div class="col s4">
            {% if curr_user_profile.avatar %}
                <div class="avatar" style="background-image: url({{curr_user_profile.avatar.url}})">
                </div>
            {% else %}
                <div class="avatar" style="background-image: url({% static 'images/user.png' %})">
                </div>
            {% endif %}
        </div>
        <div class="col s8">
            <div class="overview">
                <div class="row__1" style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
                    <h4>{{ curr_user_profile.user.username }}</h4>
                    {% if auth_user_profile in follower_profiles and auth_user_profile not in following_profiles %}
                        <a class="btn waves-effect waves-light" type="submit" name="action">Message</a>
                        <a href="{% url 'profiles:user-unfollow' curr_user_profile.slug %}" class="btn waves-effect waves-light" type="submit" name="action">Unfollow</a>
                    {% elif curr_user_profile in my_request_profiles %}
                        <a class="btn waves-effect waves-light" type="submit" name="action">Requested <i class="fas fa-check"></i></a>
                    {% elif auth_user_profile in follower_profiles and curr_user_profile in auth_user_follower_profiles %}
                        <a class="btn waves-effect waves-light" type="submit" name="action">Message</a>
                        <a href="{% url 'profiles:user-unfollow' curr_user_profile.slug %}" class="btn waves-effect waves-light" type="submit" name="action">Unfollow</a>
                    {% elif auth_user_profile not in follower_profiles and curr_user_profile in auth_user_follower_profiles %}
                        <a href="{% url 'profiles:user-follow' curr_user_profile.slug %}" class="btn waves-effect waves-light" type="submit" name="action">Follow Back</a>
                    {% elif auth_user_profile == curr_user_profile %}
                        <a class="btn waves-effect waves-light" type="submit" name="action">Edit Profile <i class="fas fa-cog"></i></a>
                    {% endif %}
                </div>
                <div class="row__2">
                    <p>0 posts</p>
                    <a class="modal-trigger" data-target="modal1">{{ total_followers }} followers</a>
                    <a class="modal-trigger" data-target="modal2">{{ total_followings }} following</a>
                </div>
                <div class="row__3">
                    <p>{{curr_user_profile.first_name}} {{curr_user_profile.last_name}}</p>
                    <p>{{ curr_user_profile.bio }}</p>
                </div>
            </div>
        </div>
    </div>
    <!--START OF FOLLOWERS MODEL-->
        <div id="modal1" class="modal modal-fixed-footer" style="border-radius: 30px; width: 500px">
            <div class="modal-content">
                <div class="fol__header">
                    <h4>Followers</h4>
                </div>
                <div>
                    {% for follower in followers %}
                        <div class="fol__detail">
                            <a href="{% url 'profiles:profile-detail-view' follower.sender.slug %}">
                                <div style="display: flex; align-items: center;">
                                    {% if follower.sender.avatar %}
                                        <p class="fol__avatars" style="background-image:url({{follower.sender.avatar.url}})"></p>
                                    {% else %}
                                        <p class="fol__avatars" style="background-image:url({% static 'images/user.png' %})"></p>
                                    {% endif %}
                                    <p style="padding-left: 20px">{{follower.sender.user.username}}</p>
                                </div>
                            </a>
                            <div>
                                {% if auth_user_profile != follower.sender %}
                                    {% if follower.sender in auth_user_following_profiles %}
                                        <button class="btn">Following</button>
                                    {% elif follower.sender in my_request_profiles %}
                                        <button class="btn">Requested <i class="fas fa-check"></i></button>
                                    {% else %}
                                        <a href="{% url 'profiles:user-follow' follower.sender.slug %}" class="btn" style="color:white;">Follow</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    <!--END OF FOLLOWERS MODEL-->
    <!--START OF FOLLOWING MODEL-->
        <div id="modal2" class="modal modal-fixed-footer" style="border-radius: 30px; width: 500px">
            <div class="modal-content">
                <div class="fol__header">
                    <h4>Following</h4>
                </div>
                <div>
                    {% for following in followings %}
                        <div class="fol__detail">
                            <a href="{% url 'profiles:profile-detail-view' following.receiver.slug %}">
                                <div style="display: flex; align-items: center;">
                                    {% if following.receiver.avatar %}
                                        <p class="fol__avatars" style="background-image:url({{following.receiver.avatar.url}})"></p>
                                    {% else %}
                                        <p class="fol__avatars" style="background-image:url({% static 'images/user.png' %})"></p>
                                    {% endif %}
                                    <p>{{following.receiver.user.username}}</p>
                                </div>
                            </a>
                            <div>
                                {% if auth_user_profile != following.receiver %}
                                    {% if following.receiver in auth_user_following_profiles %}
                                        <button class="btn">Following</button>
                                    {% elif following.receiver in my_request_profiles %}
                                        <button class="btn">Requested <i class="fas fa-check"></i></button>
                                    {% else %}
                                        <button href="{% url 'profiles:user-follow' following.receiver.slug %}" class="btn">Follow</button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    <!--END OF FOLLOWING MODEL-->
    <div>
        <div class="divider"></div>
        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a href="#test-swipe-1">POSTS</a></li>
            <li class="tab col s3"><a class="active" href="#test-swipe-2">LIKED</a></li>
            <li class="tab col s3"><a href="#test-swipe-3">SOMETHING</a></li>
        </ul>
        <div class="divider"></div>
        <div id="test-swipe-1" class="col s12">
            <h2>POSTS</h2>
        </div>
        <div id="test-swipe-2" class="col s12">
            <h2>LIKED</h2>
        </div>
        <div id="test-swipe-3" class="col s12">
            <h2>SOMETHING</h2>
        </div>
    </div>
</div>

{% endblock body_profile %}