{% extends 'base.html' %}
{% load static %}
{% block head_css_site %}
    <link rel="stylesheet" href="{% static 'css/profiles/profile-detail.css' %}">
{% endblock head_css_site %}

{% block body_profile %}
{% include 'messages.html' %}
<div class="container">
    <div class="profile__overview row">
        <div class="col s4">
            {% if curr_user_profile.avatar %}
                <a href="{{curr_user_profile.avatar.url}}">
                    <div class="avatar" style="background-image: url({{curr_user_profile.avatar.url}})">
                    </div>
                </a>
            {% else %}
                <div class="avatar" style="background-image: url({% static 'images/user.png' %})">
                </div>
            {% endif %}
        </div>
        <div class="col s8">
            <div class="overview">
                <div class="row__1" style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
                    <h4>{{ curr_user_profile.user.username }}</h4>
                    {% if auth_user_profile == curr_user_profile %}
                        <a href="{% url 'profiles:edit-profile' auth_user_profile.slug %}" class="btn waves-effect waves-light" type="submit" name="action">Edit Profile <i class="fas fa-cog"></i></a>
                    {% elif auth_user_profile in follower_profiles and auth_user_profile not in following_profiles %}
                        <a href="{% url 'chat:chat-room' curr_user_profile.user.username %}" class="btn waves-effect waves-light" type="submit" name="action">Message</a>
                        <a href="{% url 'profiles:user-unfollow' curr_user_profile.slug %}" class="btn waves-effect waves-light" type="submit" name="action">Unfollow</a>
                    {% elif curr_user_profile in my_request_profiles %}
                        <a class="btn waves-effect waves-light" type="submit" name="action">Requested <i class="fas fa-check"></i></a>
                    {% elif auth_user_profile not in following_profiles %}
                        <a href="{% url 'profiles:user-follow' curr_user_profile.slug %}" class="btn waves-effect waves-light" type="submit" name="action">Follow</a>
                    {% elif auth_user_profile in follower_profiles and curr_user_profile in auth_user_follower_profiles %}
                        <a href="{% url 'chat:chat-room' curr_user_profile.user.username %}" class="btn waves-effect waves-light" type="submit" name="action">Message</a>
                        <a href="{% url 'profiles:user-unfollow' curr_user_profile.slug %}" class="btn waves-effect waves-light" type="submit" name="action">Unfollow</a>
                    {% elif auth_user_profile not in follower_profiles and curr_user_profile in auth_user_follower_profiles %}
                        <a href="{% url 'profiles:user-follow' curr_user_profile.slug %}" class="btn waves-effect waves-light" type="submit" name="action">Follow Back</a>
                    {% endif %}
                </div>
                <div class="row__2">
                    <p>{{curr_user_profile.post_set.all.count}} post{{curr_user_profile.post_set.all.count|pluralize}}</p>
                    <a class="modal-trigger" data-target="modal1">{{ total_followers }} follower{{ total_followers|pluralize}}</a>
                    <a class="modal-trigger" data-target="modal2">{{ total_followings }} following{{ total_followings|pluralize }}</a>
                </div>
                <div class="row__3">
                    <p style="font-size:20px;font-weight:500px;">{{curr_user_profile.first_name}} {{curr_user_profile.last_name}}</p>
                    <p style="font-size:19px;font-weight:500px;">{{ curr_user_profile.bio }}</p>
                </div>
            </div>
        </div>
    </div>
    <!--START OF FOLLOWERS MODEL-->
        <div id="modal1" class="modal modal-fixed-footer" style="border-radius: 30px; width: 500px">
            <div class="modal-content">
                <div class="fol__header">
                    <h4>Followers</h4>
                </div>
                <div>
                    {% for follower in followers %}
                        <div class="fol__detail">
                            <a href="{% url 'profiles:profile-detail-view' follower.sender.slug %}">
                                <div style="display: flex; align-items: center;">
                                    {% if follower.sender.avatar %}
                                        <p class="fol__avatars" style="background-image:url({{follower.sender.avatar.url}})"></p>
                                    {% else %}
                                        <p class="fol__avatars" style="background-image:url({% static 'images/user.png' %})"></p>
                                    {% endif %}
                                    <p style="padding-left: 10px; font-size:20px;font-weight:500px;">{{follower.sender.user.username}}</p>
                                </div>
                            </a>
                            <div>
                                {% if auth_user_profile != follower.sender %}
                                    {% if follower.sender in auth_user_following_profiles %}
                                        <button class="btn">Following</button>
                                    {% elif follower.sender in my_request_profiles %}
                                        <button class="btn">Requested <i class="fas fa-check"></i></button>
                                    {% else %}
                                        <a href="{% url 'profiles:user-follow' follower.sender.slug %}" class="btn" style="color:white;">Follow</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    <!--END OF FOLLOWERS MODEL-->
    <!--START OF FOLLOWING MODEL-->
        <div id="modal2" class="modal modal-fixed-footer" style="border-radius: 30px; width: 500px">
            <div class="modal-content">
                <div class="fol__header">
                    <h4>Following</h4>
                </div>
                <div>
                    {% for following in followings %}
                        <div class="fol__detail">
                            <a href="{% url 'profiles:profile-detail-view' following.receiver.slug %}">
                                <div style="display: flex; align-items: center;">
                                    {% if following.receiver.avatar %}
                                        <p class="fol__avatars" style="background-image:url({{following.receiver.avatar.url}})"></p>
                                    {% else %}
                                        <p class="fol__avatars" style="background-image:url({% static 'images/user.png' %})"></p>
                                    {% endif %}
                                    <p style="padding-left: 10px; font-size:20px;font-weight:500px;">{{following.receiver.user.username}}</p>
                                </div>
                            </a>
                            <div>
                                {% if auth_user_profile != following.receiver %}
                                    {% if following.receiver in auth_user_following_profiles %}
                                        <button class="btn">Following</button>
                                    {% elif following.receiver in my_request_profiles %}
                                        <button class="btn">Requested <i class="fas fa-check"></i></button>
                                    {% else %}
                                        <a href="{% url 'profiles:user-follow' following.receiver.slug %}" class="btn" style="color:white;">Follow</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    <!--END OF FOLLOWING MODEL-->
    {% if form %}
        <div class="row">
            <div class="create" style="display:flex;flex-direction:row;justify-content:center;">
                <form method="post" class="z-depth-2" style="display:flex;flex-direction:column;background-color: #242526;padding:25px;border-radius:max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;color:white !important;" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button style="margin-top:10px" type="submit" class="btn">POST</button>
                </form>
            </div>
        </div>
    {% endif %}
    <div>
        <div class="divider"></div>
        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a class="active" href="#test-swipe-1">POSTS</a></li>
            {% if curr_user_profile == user_profile %}
                <li class="tab col s3"><a href="#test-swipe-2">SAVED</a></li>
            {% endif %}
        </ul>
        <div class="divider"></div>
        <div id="test-swipe-1" class="col s12">
            <div class="container infinite-container">
                {% include 'posts/post_ajax.html' %}
            </div>
            {% if posts.has_next %}
                <a class="infinite-more-link" href="?page={{ posts.next_page_number }}"></a>
            {% endif %}
            <div style="display:flex;flex-direction:row;justify-content:center">
                <div class="loading" style="display: none;">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if curr_user_profile == user_profile %}
        <div id="test-swipe-2" class="col s12">
        {% with saved_posts as posts %}
            <div class="container infinite-container">
                {% with section='save'  %}
                    {% include 'posts/post_ajax.html' %}
                {% endwith %}
            </div>
            {% if posts.has_next %}
                <a class="infinite-more-link" href="?page={{ posts.next_page_number }}"></a>
            {% endif %}
            <div style="display:flex;flex-direction:row;justify-content:center">
                <div class="loading" style="display: none;">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock body_profile %}

{% block domready %}
    function delete_func(el) {
        console.log(el.parentNode.parentNode.parentNode.parentNode);
        var id = el.getAttribute('data-id');
        console.log(id);
        var post_node = el.parentNode.parentNode.parentNode.parentNode;
        $.ajax({
            type: 'POST',
            url: "{% url 'posts:delete' %}",
            data:
            {
                id: id
            },
            success: function(data) {
                post_node.remove();
            },
            error: function(error) {
                console.log(error);
            }
        });
    };
{% endblock domready %}