{% extends 'base.html' %}

{% load static %}
{% block head_css_site %}
    <link rel="stylesheet" href="{% static 'css/auth/form.css' %}">
{% endblock head_css_site %}


{% block body_profile %}
    {% include 'messages.html' %}
    <div class="row" id="form-container">
        <div>
            <h1>LOGIN.</h1>
        </div>
        <form class="col s6" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    <label for="id_username">Username/Email Address</label>
                    <input id="id_username" type="text" name="username">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <label for="id_password">Password</label>
                    <input id="id_password" type="password" name="password">
                </div>
            </div>
            <div class="buttons">
                <a href="{% url 'signup' %}">Not connected with us ??, Sign-up</a>
                <button class="btn waves-effect waves-light" type="submit" name="action">LOGIN
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{% endblock body_profile %}